<%= fields_for "secret[secret_values_attributes][#{Random.rand(11)}]", secret_value do |ff| %>
  <fieldset>
    <legend class="text-lg font-bold text-gray-500">Secret Value</legend>
    <div>
      <%= ff.label :name, class: "w-full text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" %>
      <%= ff.text_field :name, class: "mt-1 w-full rounded-md shadow-sm focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
    </div>
    <div>
      <%= ff.label :value, class: "w-full text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" %>
      <%= ff.text_field :value, class: "mt-1 w-full rounded-md shadow-sm focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
    </div>
    <div>
      <%= ff.hidden_field :id %>
    </div>
  </fieldset>
<% end %>
