<%= form_with(model: secret, data: { controller: "secret_form" }, id: "new_secret", class: "contents") do |form| %>
  <% if secret.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(secret.errors.count, "error") %> prohibited this secret from being saved:</h2>

      <ul>
        <% secret.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inline">
    <fieldset class="mb-8">
      <legend class="text-xl font-bold text-gray-500">Secret</legend>
      <%= form.label :name, "Name:", class: "inline text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" %>
      <%= form.text_field :name, class: "mt-1 inline w-full rounded-md shadow-sm focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
    </fieldset>

    <div id="secret_values">
      <h1>values</h1>
      <%= render partial: "secret_value", collection: secret.secret_values %>
    </div>
    <div>
      <%= button_tag "Add Value", type: "button", class: "px-4", data: { action: "secret_form#getSecretValuePartial" } %>
    </div>

    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    <%= link_to "Cancel", secret, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
