<%= turbo_frame_tag dom_id(secret), class: "grid grid-cols-4" do %>
  <div class="table-cell">
    <%= link_to secret.name, secret, "data-turbo-frame": "_top", class: "text-gray-100 lg:text-xl text-gray-600 dark:text-gray-200" %>
  </div>
  <div class="table-cell">
    <%= link_to secret.created_at.to_date, secret, "data-turbo-frame": "_top",
                class: "lg:text-xl text-gray-600 dark:text-gray-200" %>
  </div>
  <div class="table-cell">
    <%= link_to "Edit", edit_secret_path(secret),
                class: "text-md py-2.5 px-5 rounded-lg bg-blue-600 text-white font-medium text-sm inline-block" %>
  </div>
  <div class="table-cell">
    <%= button_to "Destroy", secret_path(secret), method: :delete,
                  form: {data: {turbo_confirm: "Delete secret?"}},
                  class: "text-md py-2.5 px-5 rounded-lg bg-blue-600 text-white font-medium text-sm inline-block" %>
  </div>
<% end %>
