<div id="<%= dom_id(secret) %>" class="table-row-group">
  <%= turbo_frame_tag dom_id(secret), class: "table-row" do %>
    <div class="table-cell">
      <%= link_to secret.name, secret, "data-turbo-frame": "_top", class: "text-gray-100 lg:text-xl text-gray-600 dark:text-gray-200" %>
    </div>
    <div class="table-cell">
      <%= link_to secret.created_at.to_date, secret, "data-turbo-frame": "_top", class: "text-gray-100 lg:text-xl dark:text-gray-200" %>
    </div>
    <div class="table-cell">
      <%= link_to "Edit this secret", edit_secret_path(secret), class: "text-md py-2.5 px-5 rounded-lg bg-gray-100 font-medium text-sm inline-block" %>
    </div>
  <% end %>
</div>
