
<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Secrets</h1>
    <button popovertarget="secrets_form" popovertargetaction="show"  class="ml-2 py-2.5 px-5 rounded-lg font-medium text-sm rounded-lg bg-blue-600 text-white block font-medium">
      New Secret
    </button>
  </div>

  <div id="secrets" class="min-w-full">
    <%= turbo_stream_from "secrets" %>
    <%= turbo_frame_tag "secrets" do %>
      <%= render @secrets %>
    <% end %>
  </div>
</div>



<div id="secrets_form" class="" popover="auto">
  <div class="bg-white p-4 rounded-lg w-full max-w-md">
    <h2 class="text-lg font-bold mb-2">New Secret</h2>
    <%= render partial: "secrets/form", locals: {secret: @current_user.secrets.new} %>
    <p class="mb-4">Modal content goes here...</p>
    <button class="bg-blue-500 text-white px-4 py-2 rounded-lg" onclick="document.querySelector('#secrets_form').hidePopover();">
      Close
    </button>
  </div>
</div>

