<%= turbo_stream_from "secrets" %>
<div class="w-full">
  <% if notice.present? %>
    <p class="w-full py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="text-2xl mb-6 font-semibold text-zinc-600 dark:text-zinc-100">Secrets</h1>
    <%= link_to "New", new_secret_path, data: { turbo_stream: true }, class: "text-center px-5 py-3 rounded-lg text-white inline-block bg-blue-600 hover:bg-blue-800" %>
  </div>

  <%= form_with url: "", method: :get, data: { turbo_frame: "secrets" } do |form| %>
    Show <%= form.select :count, options_for_select([5, 10, 25, 50, 100], selected: params[:count]),
                         {},
                         { class: "rounded-lg px-4 py-1", onchange: "this.form.requestSubmit()" } %>
    Search <%= form.text_field :query,
                               placeholder: "Search",
                               value: params[:query],
                               oninput: "this.form.requestSubmit()",
                               class: "rounded-lg px-2 py-1" %>
  <% end %>

  <div class="grid grid-cols-3">
    <div>
      <%= sort_link_to "Name", :name, class: "table-cell pr-4 text-gray-600 lg:text-2xl dark:text-gray-200", data: {turbo_action: "advance"} %>
    </div>
    <div>
      <%= sort_link_to "Created At", :created_at, class: "table-cell pr-4 text-gray-600 lg:text-2xl dark:text-gray-200", data: {turbo_action: "advance"} %>
    </div>
  </div>
  <%= turbo_frame_tag "secrets" do %>
    <%= render @secrets %>
  <% end %>
  <%== pagy_nav @pagy %>
</div>



