<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Ckretz" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png" sizes="512x512">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-zinc-100 dark:bg-zinc-600">
    <%= render partial: "shared/top_bar", locals: {current_user: @current_user} %>
    <main class="flex flex-row">
      <%= render partial: "shared/left_menu" %>
      <div class="container my-8">
        <%= yield %>
      </div>
    </main>
    <%= render partial: "shared/chatbot", locals: {current_user: @current_user} %>
    <%= render 'layouts/dialog' %>
  </body>
</html>
